<h1>This is Top Page</h1>

<h2><%= @sentence %></h2>
<h2><%= @superized_sentence %></h2>
<div>
  <%= form_with url: root_path, method: :get do |form| %>
    <%= form.text_field :sentence %>
    <%= form.submit '送信' %>
  <% end %>
</div>