<h1>This is Top Page</h1>

<h2><%= @sentence %></h2>
<h2><%= @superized_sentence %></h2>
<div>
  <%= form_with url: root_path, method: :get do |form| %>
    <%= form.text_field :sentence %>
    <%= form.submit '送信' %>
  <% end %>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" id="share" class="twitter-share-button"
  data-text="<%= @superized_sentence %>"
  data-show-count="false">
  Tweet
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>